@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7efe4;
  --foreground: #3d1b1b;
  --card: #ffffff;
  --input-bg: #e9dcc6;
}

/* Global body styling */
body {
  background-color: var(--background);
  color: var(--foreground);
}
